body {
    background-color: black;
    color: rgb(57, 183, 212);
}

h1 {
    text-align: center;
    font-size: 250%;
    margin-bottom: .5%;
}

form {
    text-align: center;
    padding-left: auto;
    padding-right: auto;
    font-size: 100%;
}

input {
    height: 3%;
    padding: .5%;
    width: 16%;
}

.todo {
    text-align: left;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;    
    margin-top: 1%;
    margin-bottom: 1%;
    border-style: dotted;
    padding-right: 3px;
    border-radius: 12px;
    width: 25%;
    padding: 1%;
}

button {
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 13px;
    text-align: center;
    margin-top: -1%;
}

#submit {
    float: none;
    width: 30px;
    height: 30px;
}

*:focus {
    outline: none;
}

button:active {
    /* transition: */
}

button:hover {
    background-color: rgb(25, 147, 168);
}

.addButton {

}

.deleteButton {

}

#listContainer {
    /* border-style: dashed; */
}