body {
    background-color: black;
    color: rgb(57, 183, 212);
}

h1 {
    text-align: center;
    font-size: 250%;
    margin-bottom: .5%;
}

form {
    text-align: center;
    padding-left: auto;
    padding-right: auto;
    font-size: 100%;
}

input {
    height: 3%;
    padding: .5%;
    width: 16%;
}

.todo, .complete {
    text-align: left;
    font-size: 1.5em;
    margin: 1% auto;
    border-style: dotted;
    padding-right: 3px;
    border-radius: 12px;
    width: 25%;
    padding: 1%;
}

.complete {
    background-color: rgb(83, 83, 195);
}

button {
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 13px;
    text-align: center;
    margin-top: -1%;
}

#submit {
    float: none;
    width: 30px;
    height: 30px;
}

*:focus {
    outline: none;
}

button:hover {
    background-color: rgb(25, 147, 168);
}
